.main {
    margin-top: 30px;
    margin-left: 240px;
    border: 2px solid gray;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(68, 68, 68, 0.5);
    display: flex; /* Enable flexbox for alignment */
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start; /* Align items to the top */
    padding: 20px; /* Add padding for better spacing */
}
section{
    display: flex;
}
.button-group {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    gap: 20px; /* Add spacing between buttons */
    width: 100%; /* Ensure the buttons use full width */
}

.primary_btn, .primary_btn2 {
    flex: 1;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.primary_btn1 {
    flex-basis: 100%; /* Force it to take full width */
    justify-content: center;
    padding: 10px 20px;
    border-radius: 8px;
    color:black;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    
}
.form_control{
    display: flex;
    flex-direction:column ;
    color: black;
    font-weight: 500;
    margin-left: 3px;
}
.form_control input{
    display: flex;
    flex-direction:column ;
    width: 490px;
    height: 40px;
    border-radius: 7px;
    border-color: black;
}
.primary_btn3{
    margin-left: 370px;
    color: white;
    background-color:black;
    border-radius: 2px;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    margin-top: 30px;
}
.im24 img{
    width: 550px;
    height: auto;
    margin: 70px;
}